table {
text-align: left;
color: #333;
font-family: verdana;
border-collapse: collapse;
border-spacing: 0;
font-size: 14;
margin:20px 1px 1px 40px;
}
body {padding-left: 10 px;}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
font-family : Verdana,Helvetica,Arial,sans-serif;
padding: 10px;
}

th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
}

td { background: #FAFAFA; }

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }

/* Hover cell effect! */
tr td:hover { background: #666; color: #FFF; }
